<div>

    <div>
      <div *ngFor="let itemCo of itemCos">
        <mat-checkbox >{{itemCo}}</mat-checkbox>
      </div>
    </div>

    <form [formGroup]="myForm" novalidate (ngSubmit)="addItem()">
      <div class="form-group">
          <input class="form-control" name="name" formControlName="Name" />
      </div>
      <div class="form-group">
          <button class="btn btn-default" [disabled]="myForm.invalid">Add task</button>
      </div>
    </form>

    <div>
      <div *ngFor="let item of items">
        <mat-checkbox>{{item}}</mat-checkbox>
      </div>
    </div>

</div>
